:root {
  --light-blue: rgb(224, 241, 255);
  --fast-smooth: 0.2s ease-in-out;
  --light-rounded: 1rem;
}

@font-face {
  font-family: Bello;
  src: url('./bello.ttf')
}

html, h1, h2, h3, ul, li, p, a, span {
  font-family: 'Roboto Condensed', sans-serif;
  color: rgb(97, 97, 97);
  letter-spacing: 0.5px;
  text-decoration: none;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

span {
  font-weight: lighter;
}


@media (min-width: 800px) {
  body, .products, .landing {
    border-radius: var(--light-rounded);
  }

  body {
    padding: 0 20px;
  }

  body .landing {
    height: 500px;
  }

  body .contact {
    padding: 0;
  }
}


body {
  max-width: 1400px;
  margin: auto;
  background-color: white;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

  header a img {
    width: 300px;
    transition: var(--fast-smooth);
  }

    header a img:hover {
      opacity: 0.8;
    }

  header ul {
    display: flex;
    margin: 15px 0 50px 0;
  }

    header ul li {
      margin: 0 15px;
    }

      header ul li a {
        padding: 10px 20px;
        border-radius: 2rem;
        transition: var(--fast-smooth);
      }

      header ul li a:hover {
        background-color: var(--light-blue);
      }

    .active {
      background-color: var(--light-blue);
      color: rgb(45, 45, 45);
    }

.landing {
  display: flex;
  justify-content: center;
  flex-direction: column;
  background: url(images/bg.jpg) no-repeat center center; 
  background-size: cover;
  height: 350px;
}

  .landing h2 {
    font-family: Bello;
    color: white;
    font-size: 2.4rem;
    text-align: center;
  }

    .landing h2:first-of-type {
      margin-bottom: 20px;
    }


.products {
  padding: 20px;
  background-color: rgb(245, 248, 250);
}

  .products .categories {
    max-width: 600px;
    margin: auto;
    padding-left: 85px;
  }

  .products ul {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    margin: 6px auto 25px auto;
  }

    .products ul li {
      margin: 5px 0px;
    }

      .products ul li input {
        margin: 0;
      }

      .products ul li label {
        cursor: pointer;
      }

  .products .image-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 30px;
  }
    
    .products .image-container div {
      display: none;
    }

      .products .image-container div img {
        width: 100%;
        border-radius: var(--light-rounded);
        cursor: pointer;
      }

      .products .image-container .checked {
        display: block;
      }

  .modal-holder {
    display: none;
  }
  
  .modal-holder-active {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(65, 65, 65, 0.8);
  }
  
    .modal-holder-active img {
      width: 700px;
      border-radius: var(--light-rounded);
    }

    .modal-holder-active p {
      color: black;
      max-width: 700px;
      background-color: white;
      display: block;
    } 

    .close-modal {
      top: 4px;
      left: 4px;
      position: absolute;
      cursor: pointer;
      transition: var(--fast-smooth);
    }
    
      .close-modal:hover {
        opacity: 0.8;
      }

.contact {
  padding: 0 15px;
}

  .contact section {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
    gap: 30px;
  }

    .contact section div {
      display: flex;
      flex-direction: column;
      margin-bottom: 10px;
    }

    .contact section div h3 {
      margin-bottom: 2px;
      color: rgb(45, 45, 45);
    }

    .contact section div img {
      width: 100%;
      border-radius: var(--light-rounded);
      margin-bottom: 8px;
    }

    .contact section div span:first-of-type {
      margin-bottom: 10px;
    }

      .contact section div span {
        margin-bottom: 4px;
      }

      .phone {
        margin: 0 2px -5px -4px;
        opacity: 0.6;
      }

      .email {
        margin: auto 4px -5px -2px;
        opacity: 0.6;
      }

  .adress {
    display: flex;
    justify-content: center;
    margin-top: 60px;
    line-height: 33px;
    text-align: center;
    font-size: 1.1rem;
    transition: var(--fast-smooth);
  }

  .adress svg {
    margin-right: 5px;
  }

    .adress:hover {
      color: rgb(38, 126, 154);
    }

footer {
  display: flex;
  justify-content: center;
}

  footer span {
    margin: 70px 0;
  }


.hidden {
  display: none;
}